.filters{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin: 1rem;
   padding: 1rem;
   min-width: 10%;
   background-color: black;
   color: rgb(192, 216, 216);
   height: 100%;
   border-radius: 1rem;
}
/* .filter{ */
   /* min-width: 10rem; */
   /* height: auto; */
   /* margin: .7rem; */
/* } */
.form-select{
   height: auto !important;
}
.filters h5 {
   color: rgb(255, 255, 255);
}